.platformSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 7.5rem;

  &::before {
    content: "";
    position: absolute;
    background: url("../../../../Assets/image/bgLines-1.png");
    width: 100vw;
    height: 100vh;
    transform: translateY(100px);
    background-repeat: no-repeat;
    background-position: top right;
    opacity: 0.5;
    z-index: -1;
    animation: animateBG 2s ease-in-out infinite;
  }
}

.title {
  font-size: 49px;
  font-weight: 700;
  font-family: "Sofia Pro";
  text-align: center;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 1.5rem;
}

.descr {
  font-size: 16px;
  line-height: 1.5rem;
  color: #e5e6ed;
  text-align: center;
  margin-bottom: 3.5rem;
}

.platformContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  & > :nth-child(2) {
    margin-top: 3.25rem;
  }
}

@keyframes animateBG {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

@media (max-width: 592px) {
  .platformContainer {
    & > :nth-child(2) {
      margin: 0;
    }
  }
}
